
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
DROP TABLE IF EXISTS `batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `batches` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `batch_number` varchar(100) NOT NULL,
  `expiry_date` date NOT NULL,
  `manufacturing_date` date NOT NULL,
  `quantity` int NOT NULL,
  `medicine_id` bigint NOT NULL,
  `active` bit(1) NOT NULL,
  `version` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK4ec7meu91alfw2xei0bc86ce5` (`batch_number`),
  KEY `FK74gqfsfgvs43uii5wi06sfged` (`medicine_id`),
  CONSTRAINT `FK74gqfsfgvs43uii5wi06sfged` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `description` varchar(255) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `active` bit(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKt8o6pivur7nn124jehx7cygw5` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `expiry_tracking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `expiry_tracking` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `alert_days` int NOT NULL,
  `alert_sent` bit(1) NOT NULL,
  `alert_sent_at` datetime(6) DEFAULT NULL,
  `disposal_reason` varchar(500) DEFAULT NULL,
  `disposed` bit(1) NOT NULL,
  `disposed_at` datetime(6) DEFAULT NULL,
  `expiry_date` date NOT NULL,
  `location` varchar(150) DEFAULT NULL,
  `manufacturing_date` date DEFAULT NULL,
  `status` enum('DISPOSED','EXPIRED','NEAR_EXPIRY','SAFE') NOT NULL,
  `stock_quantity` int NOT NULL,
  `batch_id` bigint NOT NULL,
  `medicine_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKthelfe1i9cdm9963uomxhapwj` (`batch_id`),
  KEY `FKp0qtb6gniu3shx7s86ou8lg82` (`medicine_id`),
  CONSTRAINT `FKp0qtb6gniu3shx7s86ou8lg82` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`),
  CONSTRAINT `FKthelfe1i9cdm9963uomxhapwj` FOREIGN KEY (`batch_id`) REFERENCES `batches` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `available_quantity` int NOT NULL DEFAULT '0',
  `reserved_quantity` int NOT NULL DEFAULT '0',
  `medicine_id` bigint NOT NULL,
  `active` bit(1) NOT NULL,
  `location` varchar(100) DEFAULT NULL,
  `quantity` int NOT NULL,
  `reorder_level` int NOT NULL,
  `batch_id` bigint NOT NULL,
  `version` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK1ifnxfibuor93cgurx4wri69h` (`medicine_id`),
  UNIQUE KEY `UKg81ipu3fmwoatrb7hcra1meml` (`medicine_id`,`batch_id`),
  UNIQUE KEY `UK9drc9x8i8uu4cstg3vdvq0r1a` (`batch_id`),
  CONSTRAINT `FK7j0wb5cu1yu9rsfii6wo6uhv0` FOREIGN KEY (`batch_id`) REFERENCES `batches` (`id`),
  CONSTRAINT `FKmv2v2jhyx6h3sw1l36hjqps2i` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `low_stock_alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `low_stock_alerts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `current_stock` int NOT NULL,
  `notification_sent` bit(1) NOT NULL,
  `notification_sent_at` datetime(6) DEFAULT NULL,
  `reorder_level` int NOT NULL,
  `reorder_quantity` int NOT NULL,
  `resolution_note` varchar(500) DEFAULT NULL,
  `resolved_at` datetime(6) DEFAULT NULL,
  `status` enum('CRITICAL','NORMAL','OUT_OF_STOCK','RESOLVED','WARNING') NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `medicine_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKi2pbmucmjr0q9enhcsb79x846` (`medicine_id`),
  CONSTRAINT `FKi2pbmucmjr0q9enhcsb79x846` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `medicines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medicines` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `dosage` varchar(50) DEFAULT NULL,
  `generic_name` varchar(150) DEFAULT NULL,
  `name` varchar(150) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `reorder_level` int NOT NULL,
  `unit` varchar(50) DEFAULT NULL,
  `category_id` bigint DEFAULT NULL,
  `supplier_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKh52qpa6xy1shf4skcilxsj4oa` (`category_id`),
  KEY `FK2e48d78mqo59nm84g3o4gflp8` (`supplier_id`),
  CONSTRAINT `FK2e48d78mqo59nm84g3o4gflp8` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`),
  CONSTRAINT `FKh52qpa6xy1shf4skcilxsj4oa` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `acknowledged_at` datetime(6) DEFAULT NULL,
  `acknowledged_by` varchar(100) DEFAULT NULL,
  `action_url` varchar(100) DEFAULT NULL,
  `channel` enum('EMAIL','IN_APP','PUSH','SMS') NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `description` varchar(2000) DEFAULT NULL,
  `message` varchar(1000) NOT NULL,
  `priority` enum('CRITICAL','INFO','WARNING') NOT NULL,
  `read_at` datetime(6) DEFAULT NULL,
  `reference_number` varchar(100) DEFAULT NULL,
  `resolved_at` datetime(6) DEFAULT NULL,
  `resolved_by` varchar(100) DEFAULT NULL,
  `status` enum('ACKNOWLEDGED','DISMISSED','NEW','READ','RESOLVED') NOT NULL,
  `suggested_action` varchar(500) DEFAULT NULL,
  `title` varchar(200) NOT NULL,
  `type` enum('EXPIRY','INVENTORY','LOW_STOCK','NEAR_EXPIRY','ONLINE_ORDER','OTHER','OUT_OF_STOCK','PAYMENT','PURCHASE','SYSTEM','USER') NOT NULL,
  `batch_id` bigint DEFAULT NULL,
  `medicine_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKoj58c5rbfsr3fcp9g8wfl4h7b` (`batch_id`),
  KEY `FKqvq54u4vvb7m67hj659cuonrx` (`medicine_id`),
  KEY `FK9y21adhxn0ayjhfocscqox7bh` (`user_id`),
  CONSTRAINT `FK9y21adhxn0ayjhfocscqox7bh` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKoj58c5rbfsr3fcp9g8wfl4h7b` FOREIGN KEY (`batch_id`) REFERENCES `batches` (`id`),
  CONSTRAINT `FKqvq54u4vvb7m67hj659cuonrx` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `online_order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `online_order_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `batch_number` varchar(100) DEFAULT NULL,
  `medicine_name` varchar(255) NOT NULL,
  `quantity` int NOT NULL,
  `total_price` decimal(12,2) NOT NULL,
  `unit_price` decimal(12,2) NOT NULL,
  `medicine_id` bigint NOT NULL,
  `online_order_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKhr9qjyqa4ass6vfrnk4muovqk` (`medicine_id`),
  KEY `FK1bbvqj0slic8qopawxtcnlgy` (`online_order_id`),
  CONSTRAINT `FK1bbvqj0slic8qopawxtcnlgy` FOREIGN KEY (`online_order_id`) REFERENCES `online_orders` (`id`),
  CONSTRAINT `FKhr9qjyqa4ass6vfrnk4muovqk` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `online_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `online_orders` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cancelled_at` datetime(6) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `confirmed_at` datetime(6) DEFAULT NULL,
  `customer_email` varchar(150) NOT NULL,
  `customer_name` varchar(150) NOT NULL,
  `customer_note` varchar(1000) DEFAULT NULL,
  `customer_phone` varchar(30) NOT NULL,
  `delivered_at` datetime(6) DEFAULT NULL,
  `delivery_address` varchar(500) DEFAULT NULL,
  `delivery_charge` decimal(12,2) DEFAULT NULL,
  `discount` decimal(12,2) DEFAULT NULL,
  `order_date` datetime(6) NOT NULL,
  `order_number` varchar(50) NOT NULL,
  `payment_method` varchar(50) DEFAULT NULL,
  `payment_status` enum('COD','FAILED','PAID','PENDING','REFUNDED') NOT NULL,
  `pharmacist_note` varchar(1000) DEFAULT NULL,
  `platform_name` varchar(100) DEFAULT NULL,
  `platform_order_id` varchar(150) DEFAULT NULL,
  `postal_code` varchar(20) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `status` enum('CANCELLED','CONFIRMED','DELIVERED','OUT_FOR_DELIVERY','PENDING','PROCESSING','READY','REJECTED') NOT NULL,
  `subtotal` decimal(12,2) NOT NULL,
  `tax` decimal(12,2) DEFAULT NULL,
  `total_amount` decimal(12,2) NOT NULL,
  `transaction_id` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK8oefsau6ljicmeojjg6gx578e` (`order_number`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `purchase_order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_order_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `batch_number` varchar(100) DEFAULT NULL,
  `discount` decimal(10,2) DEFAULT NULL,
  `ordered_quantity` int NOT NULL,
  `received_quantity` int NOT NULL,
  `tax` decimal(10,2) DEFAULT NULL,
  `total_price` decimal(12,2) DEFAULT NULL,
  `unit_price` decimal(10,2) NOT NULL,
  `medicine_id` bigint NOT NULL,
  `purchase_order_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKb8eixqn0uouxtyixl57mmuq3a` (`medicine_id`),
  KEY `FKo3yj8ocbw2kav38548t22hgh8` (`purchase_order_id`),
  CONSTRAINT `FKb8eixqn0uouxtyixl57mmuq3a` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`),
  CONSTRAINT `FKo3yj8ocbw2kav38548t22hgh8` FOREIGN KEY (`purchase_order_id`) REFERENCES `purchase_orders` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `purchase_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_orders` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `created_by` varchar(100) DEFAULT NULL,
  `discount` decimal(12,2) DEFAULT NULL,
  `expected_date` date DEFAULT NULL,
  `notes` varchar(500) DEFAULT NULL,
  `order_date` date NOT NULL,
  `payment_status` varchar(30) DEFAULT NULL,
  `po_number` varchar(50) NOT NULL,
  `receiving_status` varchar(30) DEFAULT NULL,
  `status` enum('CANCELLED','COMPLETED','DRAFT','ORDERED','PARTIALLY_RECEIVED','PENDING','RECEIVED','REJECTED') NOT NULL,
  `subtotal` decimal(12,2) DEFAULT NULL,
  `tax` decimal(12,2) DEFAULT NULL,
  `total_amount` decimal(12,2) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `supplier_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKpbiykvcpyg0jslne4gviyeuc2` (`po_number`),
  KEY `FKrpdasmb8y8xs5tiy4369xpinq` (`supplier_id`),
  CONSTRAINT `FKrpdasmb8y8xs5tiy4369xpinq` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reports` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `completed_at` datetime(6) DEFAULT NULL,
  `error_message` varchar(2000) DEFAULT NULL,
  `favorite` bit(1) NOT NULL,
  `file_name` varchar(500) DEFAULT NULL,
  `file_path` varchar(1000) DEFAULT NULL,
  `file_size` bigint DEFAULT NULL,
  `format` enum('EXCEL','PDF') NOT NULL,
  `from_date` date DEFAULT NULL,
  `generated_at` datetime(6) NOT NULL,
  `generated_by` varchar(150) DEFAULT NULL,
  `report_name` varchar(200) NOT NULL,
  `report_type` enum('AUDIT','EXPIRY','EXPIRY_ANALYSIS','FINANCIAL','INVENTORY','INVENTORY_VALUATION','PURCHASE_ORDER','STOCK_MOVEMENT','STOCK_SUMMARY','SUPPLIER','SUPPLIER_SUMMARY','USER_ACTIVITY') NOT NULL,
  `status` enum('FAILED','GENERATING','SUCCESS') NOT NULL,
  `to_date` date DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `stock_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stock_logs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action` enum('ADJUSTMENT','RETURN','STOCK_IN','STOCK_OUT','TRANSFER_IN','TRANSFER_OUT') DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `quantity` int NOT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `batch_id` bigint DEFAULT NULL,
  `medicine_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  `new_quantity` int NOT NULL,
  `operation` enum('ADJUSTMENT','RETURN','STOCK_IN','STOCK_OUT','TRANSFER_IN','TRANSFER_OUT') NOT NULL,
  `performed_by` varchar(100) DEFAULT NULL,
  `previous_quantity` int NOT NULL,
  `reference_number` varchar(100) DEFAULT NULL,
  `inventory_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK6f4wjuap19r7tgm93dn2du4vr` (`batch_id`),
  KEY `FKfsguggfchvubatv5xeao9qxo5` (`medicine_id`),
  KEY `FKteac532avadjwfui515029rr9` (`user_id`),
  KEY `FK7an5ba7xvebvqh8l15yvpvqxq` (`inventory_id`),
  CONSTRAINT `FK6f4wjuap19r7tgm93dn2du4vr` FOREIGN KEY (`batch_id`) REFERENCES `batches` (`id`),
  CONSTRAINT `FK7an5ba7xvebvqh8l15yvpvqxq` FOREIGN KEY (`inventory_id`) REFERENCES `inventory` (`id`),
  CONSTRAINT `FKfsguggfchvubatv5xeao9qxo5` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`),
  CONSTRAINT `FKteac532avadjwfui515029rr9` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `suppliers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `address` varchar(500) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `name` varchar(150) DEFAULT NULL,
  `phone` varchar(30) NOT NULL,
  `pincode` varchar(10) DEFAULT NULL,
  `balance` decimal(12,2) DEFAULT NULL,
  `contact_number` varchar(20) DEFAULT NULL,
  `contact_person` varchar(150) DEFAULT NULL,
  `credit_limit` decimal(12,2) DEFAULT NULL,
  `payment_terms` varchar(50) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `account_number` varchar(100) DEFAULT NULL,
  `bank_name` varchar(150) DEFAULT NULL,
  `company_name` varchar(200) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `gst_number` varchar(50) DEFAULT NULL,
  `ifsc_code` varchar(30) DEFAULT NULL,
  `on_time_delivery_rate` decimal(5,2) DEFAULT NULL,
  `outstanding_balance` decimal(12,2) DEFAULT NULL,
  `postal_code` varchar(20) DEFAULT NULL,
  `return_rate` decimal(5,2) DEFAULT NULL,
  `status` enum('ACTIVE','BLOCKED','INACTIVE') NOT NULL,
  `supplier_type` varchar(100) DEFAULT NULL,
  `tax_number` varchar(50) DEFAULT NULL,
  `total_orders` int NOT NULL,
  `total_purchase_amount` decimal(14,2) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_settings` (
  `id` varchar(255) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `value` text NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `email` varchar(150) NOT NULL,
  `name` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('ADMIN','PHARMACIST','STAFF') NOT NULL,
  `username` varchar(100) NOT NULL,
  `department` varchar(100) DEFAULT NULL,
  `joined_at` datetime(6) DEFAULT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `location` varchar(150) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `status` enum('ACTIVE','BLOCKED','INACTIVE','SUSPENDED') NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6dotkott2kjsp8vw4d0m25fb7` (`email`),
  UNIQUE KEY `UKr43af9ap4edm43mmtq01oddj6` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

